extends layout 

block content
  div.change_password_form_container
    h1.change_password_form_title= title 
    form(method='POST' action='' ).change_password_form_main
        
        div.change_password_form_current_password
            label(for='current_password') Current Password: 
            input#current_password(type='password' name='current_password' required='true' )
        div.change_password_form_password
            label(for='password') Password: 
            input#password(type='password' name='password' minlength='6' required='true' )
        
        div.change_password_form_confirm_password
            label(for='confirmPassword') Confirm Password: 
            input#confirmPassword(type='password' name='confirmPassword' minlength='6' required='true' )
        
        button.change_password_form_button(type='submit') Update password

    if errors 
      ul.error_field
       for error in errors 
         li!= error.msg