extends layout

block content
    div.form_sign_up_form_avatar
        label(for='avatar') Upload Your Profile Photo (Max Size Limit 5 MB):
        input#avatar.form-control-file(type='file', name='avatar')