extends layout

block content
    div.new_blog_form_container
        h1= title
        form(method='POST' action='' enctype="multipart/form-data").new_blog_form_main
            div.form-new_blog_form_image
                label(for='image') Image (Max Size Limit 5 MB):
                input#image.form-control-file(type='file', name='avatar')


            button.new_blog_form_button(type="submit") Update

        if errors
            ul.error_field
                for error in errors
                    li!= error.msg
