doctype html
html
  head
    title.layout_title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.layout_nav
      a.layout_a(href="/").header OdinBook
      if currentUser
        ul.layout_ul
          li.layout_greeting Hello, #{currentUser.username}
          li.layout_home
            a(href="/") home
          li.layout_friends
            a(href="/friends") Friends
          li.layout_post
            a(href="/posts") Post
          li.layout_view_profile
            a(href="/view-profile") My Profile
          //- li.layout_settings
          //-   a(href="/settings") Settings
          li.layout_logout
            a(href="/log-out").logout Logout

      else 
        ul 
          li.layout_signin
            a(href="/sign-in") Sign In
          li.layout_signup
            a(href="/sign-up") Sign Up
        
    block content